/*
 * Globals
 */
@import url(//fonts.googleapis.com/css?family=Lora);
/* Links */
a,
a:focus,
a:hover {
  /*color: #252525;*/
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #ffffff;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #d72127;
  border: 1px solid transparent;
  -moz-box-shadow:    0px 5px 0px 2px #961b29;
  -webkit-box-shadow: 0px 5px 0px 2px #961b29;
  box-shadow:         0px 5px 0px 2px #961b29;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.btn-default:active {
  -moz-box-shadow:    0px 1px 0px 2px #961b29;
  -webkit-box-shadow: 0px 1px 0px 2px #961b29;
  box-shadow:         0px 1px 0px 2px #961b29;
  margin-top: 3px;
  margin-bottom: -3px;
  
}

#thebutton {
	width: 200px;
	margin:0 auto;
}

.logo {
	width: 160px;
	margin-top: 0px;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #252525;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background: url('assets/img/milkyway.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
. {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  

}
.-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

#mainsection {
	background-color: #ffffff; 
	padding: 20px;
	width: 100%;
	height: auto;
	border: 1px solid #a7d7f9;
	/*box-shadow:1px 1px 1px 1px rgba(255,255,255,.2) inset, -1px -1px 1px 1px rgba(255,255,255,.2) inset;*/	
}

/*tooltip credit to menucool.com*/
a.popimg {
  outline: none;
  text-decoration: none;
  position: relative;
 
}
a.popimg > span {
  padding: 10px;
  border: 1px solid #aaa;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  position: absolute;
  bottom: 30px;
  left: -50px;

   } 

a.popimg:hover > span { 
  opacity: 1; 
  text-decoration: none; 
  visibility: visible; 
  overflow: visible;  
  display: inline; 
} 

 a.popimg span i { 
   width: 15px; 
   height: 15px; 
   bottom: -9px; 
   left: 50px; 
   display: block; 
   position: absolute; 
   -webkit-transform: rotate(135deg); 
   -moz-transform: rotate(135deg); 
   -o-transform: rotate(135deg); 
   transform: rotate(135deg);  
   /*display: none\0/; 
   *display: none; */
   background: #fff; 
   border-top: 1px solid #aaa; 
   border-right: 1px solid #aaa; }


/* Padding for spacing */
.inner {
  padding: 30px;
}

.thanks {
  margin-top: -35px;
}

.headerlinks {
	position: absolute;
	top: 5px;
	right: 20px;
}

.thecount {
	padding-top: 15px;
}

/*
 * Header
 */
 

.masthead-brand {
  margin-bottom: 10px;
  font-family: 'Lora', serif;
  font-size: 55px;
  line-height: 35px;
  color: #252525;
}

#the {
	font-size: 25px;
}

.masthead-nav {
	margin-top: 40px;
}

.masthead-nav > li {
  display: inline-block;
  color: #0645ad;
  font-size: 13px;
  font-family: sans-serif;
 

}
.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  color: #0645ad;
  font-family: sans-serif;
  font-size: 13px;
  border-bottom: 2px solid transparent;
  line-height: .65;
  
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
 background-color: transparent;
 text-decoration: underline;
}

#bottomnav {display:block;}
#topnav {display:none;}

#fact {
  color: #252525;
  background-color: #f9f9f9;
  border: 1px solid #aaaaaa;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 22px;
  padding: 10px;
  width: 85%;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
  text-shadow: none;
}

#sharing {
  margin: 10px 0 0 0;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}

.cover .btn-lg {
  padding: 40px 20px;
  font-weight: bold;
  font-size: 30px;
}

.cover-heading {
 font-size: 14px;
 margin-bottom: 30px;
 font-family: sans-serif;
 text-align: left;
 line-height: 1.5;
 color: #252525;
}

.linebreak {
	display: none;
}

.separator {
	display: inline-block;
}

.stats {
  text-align: left;	
}
/*
 * Footer
 */

.mastfoot {
  font-size: 13px;
}

.mastfoot a, .cover-heading a {
	color: #0645ad;
}

.mastfoot h1 {
	font-family: Georgia, Times, serif;
	font-size: 21px;
	text-align: left;
	margin-bottom: -15px;
}

hr {
	border-top: 1px solid #aaaaaa;
}

ol {
	list-style-type: decimal;
	text-align: left;
	line-height: 1.6;
	color: #252525;
}

.notes {
	text-align: left;
}

.raise {
	margin-top: -5px; !important;
}

#disclaimer {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#disclaimer p {
	text-align: left;
	margin-top: -8px;
	margin-left: 20px;
}


.currentfilter {
    color: #d72127;
}

#filter {
	text-align: right;
	margin: 15px -35px 0 0;
	padding: 0 10px 0 0;
	font-size: 12px;
	display: none;
}

#reset {
	text-align: right;
	margin: 0 -35px 0 0;
	padding: 0 11px 0 0;
	font-size: 12px;
	display: none;
}

  #submitform {
	  width: 100%;
	  height: 265px;
	  padding: 14px 5px;
	  margin: 40px auto 0 auto;
	  background-color: #f9f9f9;
	  border: 1px solid #aaaaaa;
  }
  
  .ty { 
  height: auto;
  width: 100%;
  height: auto;
  padding: 14px 5px;
  font-size: 13px;
  margin: 40px auto 0 auto;
  background-color: #f9f9f9;
  border: 1px solid #aaaaaa;
  }
  
  #submitform p {
	  font-size: 14px;
	  text-align: center;
  }
  
  #submitform a {
	  color: #0645ad;
  }
  
  table {
	  width: 90%;
	  margin: 10px auto; 
  }
  
  label {
	  font-size: 13px;
	  font-weight: normal;
  }
  
  input {
	  width: 150px;
	  height: 25px;
	  font-size: 13px;
	  vertical-align: middle;
	  margin-top: 5px;
  }
  
  input[type=submit] {
	  width: 75px;
	  font-size: 13px;
	  padding-top: 3px;
	  margin-top: 5px;
  }
  
  textarea {
	  width: 150px;
	  height: 75px;
	  font-size: 13px;
	  vertical-align: middle;
	  margin: 5px auto;
  }
  
  select {
	  width: 150px;
	  font-size: 13px;
  }

/*
 * Affix and center
 */
@media (min-width: 500px) and (max-width: 899px) {
	#submitform {
		width: 60%;
		
	}
}

@media (min-width: 900px) {
  /* Pull out the header and footer */

  
  .masthead {
    position: absolute;
    top: 0;
  }
  
  #header {
	height: 100px; 
	z-index: 100;
	
  }
  
  .mastfoot {
	position: relative;
	bottom: 15px;
	border-left: 1px solid #a7d7f9;
	border-right: 1px solid #a7d7f9;
	border-bottom: 1px solid #a7d7f9;
	width: 92%;
	margin: 0 auto;
    margin-left: 4%;
	padding-bottom: 50px;
  
  }
  
  #everythingelse {
	  position: absolute;
	  top: 60px;
	  width: 92%;
	  margin-left: 4%;
  }
   #sideborders {  
	border-left: 1px solid #a7d7f9;
	border-right: 1px solid #a7d7f9;
	border-top: 1px solid #a7d7f9;
	width: 92%;
	margin: 0 auto;
    margin-left: 4%;
	z-index: 101;
	margin-top: 40px;
   }
	  
.masthead-brand {
    float: left;
	margin-left: 10%;
	margin-top: -31px;

  }
  
.logo {
	float: left;
	margin-top: -9px;
	margin-left: 10%;
}


  .masthead-nav {
    float: right;
	margin-right: 10%;
	text-align: right;
    margin-top: 34px;
	

  }
  
  .masthead-nav > li + li {
  margin-left: -5px;
  
}

#submitform {
	  width: 400px;
	  padding: 14px 5px;
	  height: 265px;
	  margin: 40px auto 0 auto;
	  background-color: #f9f9f9;
	  border: 1px solid #aaaaaa;
}

 table {
	  width: 350px;
	  margin: 10px auto; 
  }

  input {
	  width: 226px;
	  height: 25px;
	  font-size: 13px;
	  vertical-align: middle;
  }
  
  input[type=submit] {
	  width: 75px;
	  font-size: 13px;
	  padding-top: 3px;
  }
  
  textarea {
	  width: 226px;
	  height: 75px;
	  font-size: 13px;
	  vertical-align: middle;
	  margin: 5px auto;
  }
  
  select {
	  width: 226px;
	  font-size: 13px;
  }
  
  #mainsection, .mastfoot {
	  clear: both;
  }
    
.masthead-nav > li {
	border-left: 1px solid #a7d7f9;
	border-right: 1px solid #a7d7f9;
	border-bottom: 1px solid #a7d7f9;
	line-height: .65;
	/*border-bottom: 4px solid #ffffff;*/
	padding: 3px 6px;
	
}

.gradientbg {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 25%, #e8f2f8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(25%,#ffffff), color-stop(100%,#e8f2f8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 25%,#e8f2f8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ffffff 25%,#e8f2f8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 25%,#e8f2f8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#ffffff 25%,#e8f2f8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8f2f8',GradientType=0 ); /* IE6-9 */
}
  
  /* Start the vertical centering */
  .-inner {
    vertical-align: middle;
	background-color: #f6f6f6;
  }
  
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  
  .masthead {
	width: 100%;
	margin: 0 auto;
    margin-left: 0;
  }
  
  
  #fact {
	  width: 500px;
	  padding: 20px 5px;
	  height: auto;
	  margin: 40px auto 0 auto;
  }
  
  #disclaimer {
	margin-left: auto;
	margin-right: auto;
  } 
  
  #mainsection {
  	margin: 45px auto 10px auto;
	width: 600px;

  }

  #listmusic > br, #listtechnology > br {
	  display: none;
  }
  
  ul br {
	  display: none;
  }
  
  #listpopculture, #listtelevision {
	  margin-left: -5px;
  }
  
  #listreset {
	  display: none;
  }
  
  #reset, #filter {
	  display: block;
  }
}
 /*will use if necessary*/
/*@media (min-width: 992px) {
  
}*/


@media (max-height: 865px) {
	.mastfoot {
		position: relative;
	}
}

@media (min-width: 500px) {
	#bottomnav {display:none;}
	#topnav {display:block;}
}

@media (max-width: 400px) {
	a.popimg:hover > span { visibility: hidden; opacity: 0;}
	a.popimg {color: #252525;}
	.headerlinks {display:none;}
	.inner {padding: 14px;}
	.linebreak {display: block; height: 1px;}
	.separator {display: none;}
}